.home_body{
    padding-inline: 13.6rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.8rem;      
}

.home_body aside {
    width: 47.2rem;
    height: 41.455rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}