.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis:  34.8rem; 
}

.menu a {
    font-size: 1.8rem;
    font-family: Roboto, sans-serif;
    color: var(--light-purple);
    text-decoration: none;
}