.main {
    margin-top: 6.8rem;
    padding-inline: 13.6rem;
}

.main h2 {
    margin-bottom: 6.8rem;
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: var(--purple-bg);
}

.main p {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--text);
    margin-bottom: 6.8rem;
}

.share h5 {
    margin-bottom: 1.5rem;
    color: var(--purple-bg);
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;    
}
.share div {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 8.5rem;
    
}

.share img {
    width: 2.5rem;
    height: 2.5rem;
    transition: 0.5;
}

.share img:hover {
    transform: scale(1.3);
}