:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
  --text: #000;

  --main-padding : 13.6rem;

  font-size: 62.5%; /* 1rem = 10px */
}
body {
  background-color: var(--light-purple);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
